<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>uploadtorrents</string>
	<key>ProgramArguments</key>
	<array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>exec $HOME/torrent_daemon.sh >$HOME/Library/Logs/torrent_daemon.log 2>$HOME/Library/Logs/torrent_daemon.log</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
